# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/
next-env.d.ts.timestamp

# production
/build
/dist

# env / secrets
.env
.env*.local
.env.local

# testing
/coverage

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# os / editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.tsbuildinfo

# contracts (Hardhat has its own .gitignore too)
/contracts/node_modules
/contracts/artifacts
/contracts/cache
/contracts/deployments